<div style="text-align: center" class="w-full">
  <mat-icon class="text-[2rem] text-[#F34E4E]">warning</mat-icon>
</div>
<div class="text-[1rem] text-[#3D3C3C] monsetb text-center">
  Se requiere que tu Token Digital se encuentre activado para confirmar esta operación. Ingresa al módulo de configuración para activar tu Token Digital.
</div>
<mat-dialog-actions align="center">
  <button mat-button class="text-[#00AF91] w-[10.625rem] btn-entendido monsetb text-[0.844rem]" [mat-dialog-close]="true" cdkFocusInitial>Entendido</button>
</mat-dialog-actions>
