<div style="text-align: center" class="w-full">
  <mat-icon class="text-[2rem] text-[#F34E4E]">warning</mat-icon>
</div>
<div class="text-[1rem] mb-6 text-[#3D3C3C] monsetb text-center">Opción no disponible</div>
<div class="text-[1rem] text-[#3D3C3C] monsetb text-center">
  No es posible utilizar esta opción debido a que solo tienes 1 cuenta, necesitas tener de 2 a más cuentas para poder utilizar esta opción.
</div>
<mat-dialog-actions align="center">
  <button mat-button class="text-[#00AF91] w-[10.625rem] btn-entendido monsetb text-[0.844rem]" [mat-dialog-close]="true" cdkFocusInitial>Entendido</button>
</mat-dialog-actions>
