<div class="mx-auto px-3 py-8" style="max-width: 868px">
  <div class="flex flex-wrap justify-center">
    <div class="w-full text-center mb-14">
      <div><mat-icon class="text-[#1A3184]">settings</mat-icon></div>
      <div class="monsetb px-48 text-[1.5rem] text-[#1A3184] inline-block border-b-2 border-[#00AF91] leading-tight pb-2">Configuración</div>
      <div class="flex space-x-4 mt-2 justify-center w-full">
        <mat-card class="boxshadow cursor-pointer h-[16.188rem] w-[17rem] bg-[#00AF91]">
          <img class="mx-auto" src="assets/images/configtar.svg">
          <mat-card-actions>
            <div class="text-center text-[1rem] text-white monsetb w-full h-auto">Configuración de tarjeta</div>
          </mat-card-actions>
        </mat-card>
        <mat-card (click)="redirectLimitOp()" class="boxshadow cursor-pointer h-[16.188rem] w-[17rem] bg-[#00AF91]">
          <img class="mx-auto pt-3" src="assets/images/limitOp.svg">
          <mat-card-actions>
            <div class="text-center text-[1rem] text-white monsetb w-full h-auto">Límites de operaciones</div>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
