<div class="w-full mt-4">
  <div class="monsetb text-[#3D3C3C] text-[1rem] px-6 text-center lg:text-[1.5rem] flex justify-center">Transferencia a cuentas de otros bancos</div>
  <div class="flex justify-center">
    <mat-stepper labelPosition="bottom" #stepper class="w-full lg:w-[43.75rem]">
      <mat-step>
        <form [formGroup]="groupForm1" novalidate>
          <ng-template matStepLabel>Paso 1</ng-template>
          <div class="lg:flex">
            <div class="w-full md:w-1/2 lg:px-3 mb-6 md:mb-0">
              <label class="block  text-[#8F8F8F] text-[1rem] mb-2">
                Cuenta de origen
              </label>
              <mat-form-field appearance="outline" class="w-full">
                <mat-select [(ngModel)]="selector1" formControlName="selectorigin" class="appearance-none block text-gray-700 leading-tight" placeholder="Elige tu cuenta de origen">
                  <mat-option class="h-auto" *ngFor="let select of selectCuentas" [value]="select.tipo + ' ' + select.cuenta">
                    <div class="my-2">
                      <div class="mt-px -mb-4 monset">Cuenta – {{select.tipo}} </div>
                      <div class="-mb-4 monset">{{select.cuenta}}</div>
                    </div>
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="selectorigin.hasError('required')">
                  Este campo es requerido
                </mat-error>
              </mat-form-field>
            </div>
            <div class="w-full md:w-1/2 lg:px-3 mb-6 md:mb-0">
              <label class="block  text-[#8F8F8F] text-[1rem] mb-2">
                Banco de destino
              </label>
              <mat-form-field appearance="outline" class="w-full">
                <mat-select [(ngModel)]="selector2" formControlName="selectordest" class="appearance-none block text-gray-700 leading-tight" placeholder="Elige tu cuenta de origen">
                  <mat-option class="h-auto" *ngFor="let select of selectdata" [value]="select.nombre">
                    {{select.nombre}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="selectordest.hasError('required')">
                  La cuenta de destino es requerida.
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="lg:flex mt-4">
            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
              <label class="block  text-[#8F8F8F] text-[1rem] mb-2">
                Selecciona la moneda <mat-icon matTooltip="El monto ingresado debe ser en la misma moneda que la cuenta destino. De lo contrario la transferencia podría ser rechazada." class="text-[#F9B208]">info</mat-icon>
              </label>
              <mat-radio-group class="flex -mx-2">
                <mat-radio-button checked="true" [color]="" value="PEN" style="max-width: 12rem;" class="bg-white w-full rounded-lg shadow-lg py-4 text-center px-5 mx-2 monsetb text-a1">
                  Soles
                </mat-radio-button>
                <mat-radio-button value="USD" style="max-width: 12rem;"
                                  class="bg-white w-full rounded-lg shadow-lg py-4 text-center px-5 mx-2 monsetb text-a1">
                  Dólares
                </mat-radio-button>
              </mat-radio-group>
              <!--              <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="grid-first-name" type="text" placeholder="Jane">-->
            </div>
            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
              <label class="block  text-[#8F8F8F] text-[1rem] mb-2">
                Monto a transferir
              </label>
              <mat-form-field appearance="outline" class="w-full">
                <mat-label>Ingrese el monto</mat-label>
                <input matInput currencyInput autocomplete="off" formControlName="montoT" (keypress)="onKeyPress($event)" placeholder="Placeholder">
                <mat-error *ngIf="montoT.hasError('required')">
                  El monto a transferir debería ser mayor o igual a uno.
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="lg:flex mt-4">
            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
              <label class="block  text-[#8F8F8F] text-[1rem] mb-2">
                CCI de la cuenta de destino <mat-icon matTooltip="Ingresa el código de cuenta interbancaria de la cuenta destino." class="text-[#F9B208]">info</mat-icon>
              </label>
              <mat-form-field appearance="outline" class="w-full">
                <mat-label>Ingresa el CCI del banco destino</mat-label>
                <input matInput [(ngModel)]="numCCI" formControlName="CCI" minlength="15" maxlength="15" autocomplete="off" (keypress)="onKeyPress($event)" placeholder="Placeholder">
                <mat-error *ngIf="CCI.hasError('required')">
                  El CCI de la cuenta de destino es requerido
                </mat-error>
              </mat-form-field>
            </div>
            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
<!--              <label class="block  text-[#8F8F8F] text-[1rem] mb-2">-->
<!--                CCI de la cuenta de destino-->
<!--              </label>-->
              <mat-radio-group class="example-radio-group" [(ngModel)]="variable" formControlName="variableRa" aria-label="Select an option">
                <mat-radio-button class="example-radio-button text-[0.844rem] text-[#1A3184] monsetb" value="A">A cuenta propia</mat-radio-button>
                <mat-radio-button class="example-radio-button text-[0.844rem] text-[#1A3184] monsetb" value="B">A cuenta de terceros</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>

          <div class="lg:flex mt-4">
            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
              <div *ngIf="variable === 'A'" class="border-t-2 border-[#3D3C3C]">
                <label class="block mt-2  text-[#8F8F8F] text-[1rem] mb-2">
                  Documento
                </label>
                <div class="text-[0.875rem] text-[#050505]">DNI: 52689536 </div>
              </div>
              <div *ngIf="variable === 'B'">
                <label class="block mt-2  text-[#8F8F8F] text-[1rem] mb-2">
                  Documento
                </label>
                <div class="flex justify-between">
                  <mat-form-field class="monset w-[4rem] w-[4.5rem]" appearance="outline">
                    <mat-select value="DNI">
                      <mat-option value="DNI">DNI</mat-option>
                      <mat-option value="CE">CE</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field class="monset min-w-[10rem] w-3/4 lg:w-[14rem]" appearance="outline">
                    <mat-label>Ingresa el número de DNI</mat-label>
                    <input matInput autocomplete="off" formControlName="selecDNIinput" (keypress)="onKeyPress($event)" placeholder="Placeholder">
                    <mat-error *ngIf="selecDNIinput.hasError('required')">
                      El número de documento es requerido
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

            </div>
            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
              <div *ngIf="variable === 'A'" class="border-t-2 border-[#3D3C3C]">
                <label class="block  mt-2 text-[#8F8F8F] text-[1rem] mb-2">
                  Nombres y Apellidos
                </label>
                <div class="text-[0.875rem] text-[#050505]">José Aréstegui Vásquez</div>
              </div>
              <div *ngIf="variable === 'B'">
                <label class="block  mt-2 text-[#8F8F8F] text-[1rem] mb-2">
                  Nombres y Apellidos
                </label>
                <mat-form-field  appearance="outline" class="w-full">
                  <mat-label>Ingresa los nombres y apellidos</mat-label>
                  <input matInput formControlName="dataper" autocomplete="off">
                  <mat-error *ngIf="selecDNIinput.hasError('required')">
                    Los nombres y apellidos son requeridos
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="flex px-4 lg:px-10 w-full justify-center monsetb mt-6">
            <div class="text-[#8F8F8F] text-[0.75rem] lg:text-[1rem] text-center">Consulta el <b class="text-[#00AF91] cursor-pointer" (click)="openDialog()">horario de atención</b> y las <b class="text-[#00AF91] cursor-pointer" (click)="openDialog()">tarifas y comisiones</b> de los tipos de transferencia.</div>
          </div>
        </form>
        <div class="flex justify-center w-full mt-12">
          <button class="btn w-[21.125rem] h-[3.75rem]" matStepperNext mat-button>Siguiente</button>
        </div>
      </mat-step>
      <mat-step>
        <form class="mt-2" [formGroup]="groupForm1">
          <ng-template matStepLabel>Paso 2</ng-template>
          <div class="w-full py-4 monset" style="text-align: center">Revisa y confirma los detalles de la transferencia:</div>
          <div class="flex p-2 space-x-2">
            <div class="card px-4 py-4 h-[4.688rem] w-[21.125rem]">
              <p class="monsetb">Cuenta de origen</p>
              <div>{{selector1}}</div>
            </div>
            <div class="lg:block flex my-auto hidden">
              <mat-icon class="text-[2.029rem] text-[#00AF91] my-auto">arrow_forward_ios</mat-icon>
            </div>
            <div class="card px-4 py-4 h-[4.688rem] w-[21.125rem]">
              <p class="monsetb">Cuenta destino</p>
              <div>{{selector2 + ' ' + numCCI}}</div>
            </div>
          </div>
          <div class="mt-8 px-4 py-2 card">
            <div class="flex justify-between">
              <div class="monsetb">Tipo de transferencia</div>
              <p>Diferida</p>
            </div>
<!--            <div class="flex justify-between">-->
<!--              <div class="monsetb">CCI de la cuenta destino</div>-->
<!--              <p>1020520221452214522</p>-->
<!--            </div>-->
            <div class="flex justify-between">
              <div class="monsetb">Tipo de beneficiario</div>
              <p>A cuentas de terceros</p>
            </div>
            <div class="flex justify-between">
              <div class="monsetb">Nombres y Apellidos del beneficiario</div>
              <p>José Aréstegui Vásquez</p>
            </div>
            <div class="flex justify-between">
              <div class="monsetb">Monto a transferir</div>
              <div>S/ {{montoT.value | number: '0.2'}}</div>
            </div>
            <div class="flex justify-between">
              <div class="monsetb">Comisión CML</div>
              <p>S/ 3.00 </p>
            </div>
            <div class="flex justify-between">
              <div class="monsetb">ITF</div>
              <p>S/ 0.00</p>
            </div>
            <div class="flex justify-between">
              <div class="monsetb">Monto total</div>
              <p class="monsetb">S/ 103.80</p>
            </div>
          </div>
          <div class="flex mt-4 justify-center">
            <div style="text-align: center">
              <mat-checkbox class="text-[1rem] mb-4 text-[#8F8F8F]"><a (keypress)="openDialog()">He leído y acepto los <b class="text-[#00AF91]">términos y condiciones</b> para procesar esta operación.</a></mat-checkbox>
              <div class="flex justify-between">
                <div class="px-4">
                  <div class="text-[0.75rem]">Para confirmar la operación, ingresa el Token Digital </div>
                  <div class="w-full flex justify-center mt-2">
                    <mat-form-field appearance="outline" class="w-[17.938rem]">
                      <mat-label>Ingresa el Token Digital</mat-label>
                      <input type="password" formControlName="token" [(ngModel)]="inputtoken" maxlength="4" x (keypress)="onKeyPress($event)" matInput>
                      <mat-icon matSuffix *ngIf="inputtoken == 1234" class="text-[#00AF91]">check_circle</mat-icon>
                    </mat-form-field>
                  </div>
                </div>
                <div class="px-4">
                  <div class="text-[0.75rem]">Descripción de la operación (opcional):</div>
                  <div class="w-full flex justify-center mt-2">
                    <mat-form-field appearance="outline" class="w-[17.938rem]">
                      <mat-label>Ingresa el Token Digital</mat-label>
                      <textarea matInput></textarea>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="flex justify-center space-x-4 w-full mt-8">
          <button class="btn w-[9.813rem] h-[3.75rem]" matStepperPrevious mat-button>Cancelar</button>
          <button class="btn w-[9.813rem] h-[3.75rem]" matStepperNext mat-button>Siguiente</button>
        </div>
      </mat-step>
      <mat-step>
        <form>
          <ng-template matStepLabel>Paso 3</ng-template>
          <div class="w-full py-4 monset" style="text-align: center">
            <img class="mx-auto mb-2" src="assets/images/checked.svg">
            <p>La transferencia se realizó con éxito</p>
          </div>
          <div>
            <div class="space-x-6 flex justify-between">
              <div class="card px-4 py-4 h-[4.688rem] w-[21.125rem]">
                <p class="monsetb">Cuenta de origen</p>
                <div>{{selector1}}</div>
              </div>
              <div class="card px-4 py-4 h-[4.688rem] w-[21.125rem]">
                <p class="monsetb">Cuenta destino</p>
                <div>{{selector2 + ' ' + numCCI}}</div>
              </div>
            </div>
            <div class="mt-8 px-4 py-2 card">
              <div class="flex justify-between">
                <div class="monsetb">Número de operación</div>
                <p>001</p>
              </div>
              <div class="flex justify-between">
                <div class="monsetb">Tipo de transferencia</div>
                <p>Diferida</p>
              </div>
<!--              <div class="flex justify-between">-->
<!--                <div class="monsetb">CCI de la cuenta destino</div>-->
<!--                <p>{{numCCI}}</p>-->
<!--              </div>-->
              <div class="flex justify-between">
                <div class="monsetb">Tipo de beneficiario</div>
                <p>A cuentas de terceros</p>
              </div>
              <div class="flex justify-between">
                <div class="monsetb">Nombres y Apellidos del beneficiario</div>
                <p>José Aréstegui Vásquez</p>
              </div>
              <div class="flex justify-between">
                <div class="monsetb">Monto</div>
                <p>{{montoT.value}}</p>
              </div>
              <div class="flex justify-between">
                <div class="monsetb">Comisión CML</div>
                <p>S/ 3.00 </p>
              </div>
              <div class="flex justify-between">
                <div class="monsetb">ITF</div>
                <p>S/ 0.00</p>
              </div>
              <div class="flex justify-between">
                <div class="monsetb">Monto total</div>
                <p class="monsetb">S/ 103.80</p>
              </div>
            </div>
          </div>
          <div class="flex justify-between space-x-2 text-left mt-6 mx-auto justify-center">
            <div class="w-[21.375rem] flex justify-between bg-[#ECFEFB] text-[#1A3184] p-2" style="border-radius: 12px;">
              <mat-icon class="text-[#1A3184]">email</mat-icon>
              <div class="w-[17.25rem] text-[0.906rem]">La constancia ha sido remitida a tu correo:
                ach******@cajametropolitana.com.pe</div>
            </div>
            <div class="my-auto">
              <button class="btn-descarga monsetb ml-4 space-x-4 flex px-4 py-2 w-[19rem]">
                <mat-icon class="my-auto">vertical_align_bottom</mat-icon>
                <span class="my-auto">Descargar transferencia</span>
              </button>
            </div>
          </div>

          <div class="flex justify-center mt-4 text-sm w-full content-center justify-items-center font-medium monset lg:pr-3">
            <mat-form-field appearance="outline" class="w-[19rem] px-2">
              <mat-label class="monset text-xs">Correo destino</mat-label>
              <input type="text" autocomplete="false" matInput placeholder="Correo destino">
            </mat-form-field>
            <button style="height: 3.1rem;"
                    class="text-base bg-[#00AF91] px-2 text-white shadow-lg mt-1 font-semibold  py-2 px-4 rounded">
              Enviar
            </button>
          </div>
        </form>
        <div class="flex justify-center space-x-4 w-full mt-8">
          <button class="btn w-[9.813rem] h-[3.75rem]" matStepperPrevious mat-button>Nueva transferencia</button>
          <button class="btn w-[9.813rem] h-[3.75rem]" (click)="redirectTransfer()" mat-button>Ir al inicio</button>
        </div>
      </mat-step>
    </mat-stepper>
  </div>
</div>
