<div class="mx-auto px-3 lg:py-8" style="max-width: 868px">
  <div class="flex flex-wrap justify-center">
    <div class="w-full lg:hidden border-b-2 border-[#00AF91] flex justify-between inline-flex items-center">
      <div class="text-[1rem] text-[#1A3184] monsetb">Transferencias</div>
      <div><mat-icon class="text-[#1A3184] text-[2rem]">swap_horiz</mat-icon></div>
    </div>
    <div class="w-full text-center lg:block hidden mb-4 lg:mb-10">
<!--      <img src="assets/images/available-products.png" class="mx-auto mb-4 lg:block hidden" alt="productos disponibles">-->
      <div>
        <mat-icon class="text-[#1A3184] text-[3.5rem]">swap_horiz</mat-icon>
      </div>
      <div class="letra-style-h5 text-left lg:text-center w-full lg:w-auto lg:px-10 text-[1rem] lg:text-[1.5rem] inline-block border-b-2 border-[#00AF91] leading-tight pb-2">Transferencias</div>
    </div>
    <div class="lg:flex lg:space-x-4 justify-center w-full lg:px-2">
      <div
        matRipple (click)="redirectTransfer1()"
        class="mt-4 bg-white items-center rounded-xl lg:block flex w-auto lg:w-[18.625rem]  lg:h-[13.938rem] h-[5.625rem] card-shadow pt-6 pb-8 px-4 cursor-pointer">
        <div class="mx-4 lg:mx-auto lg:mb-3">
          <img src="assets/images/CuentasPropias.png" alt="A cuentas de terceros " class="w-[3.5rem] h-[3.714rem] lg:w-[6.25rem] lg:h-[6.633rem] mx-auto">
        </div>
        <div class="text-center text-xs lg:text-base lg:mt-12 monsetb letra-style">A cuentas propias </div>
      </div>

      <div
        matRipple (click)="redirectTransfer3()"
        class="mt-4 items-center lg:justify-between bg-white rounded-xl lg:block flex w-auto lg:w-[18.625rem]  lg:h-[13.938rem] h-[5.625rem] card-shadow pt-6 pb-8 px-4 cursor-pointer">
        <div class="mx-4 lg:mx-auto lg:mb-3">
          <img src="assets/images/CuentasTerceros.png" alt="A cuentas de terceros " class="w-[3.5rem] h-[3.714rem] lg:w-[6.25rem] lg:h-[6.633rem] mx-auto">
        </div>
        <div class="text-center text-xs lg:text-base lg:mt-12 monsetb letra-style">A cuentas de terceros </div>
      </div>

      <div
        matRipple (click)="redirectTransfer2()"
        class="mt-4 bg-white items-center lg:justify-between lg:block flex w-auto lg:w-[18.625rem] lg:h-[13.938rem] h-[5.625rem] rounded-xl card-shadow pt-6 pb-8 px-4 cursor-pointer">
        <div class="mx-4 lg:mx-auto lg:mb-3">
          <img src="assets/images/OtrosBancos.png" alt="A cuentas de otros bancos" class="w-[3.5rem] h-[3.639rem] lg:w-[6.25rem] lg:h-[6.498rem] mx-auto">
        </div>
        <div class="text-center text-xs lg:text-base lg:mt-12 monsetb letra-style">A cuentas de otros bancos</div>
      </div>
    </div>
   
  </div>
</div>